.overveiw {
  color: #fff !important;
  max-width: 90%;
  margin: 0 auto;
  font-size: 1rem;
}
.dist {
  display: inline-block;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(#ae67f9 0%, #f1966e 100%);
}
.tableDiv{
    margin: 0 auto;
    max-width: 70rem;
    margin-top: 4rem;
    overflow: scroll;
    border-radius: 1rem;

}
.table{
    background-color: rgba(28, 36, 47) !important;
    color: #fff !important;
    min-width: 60rem;
}
.time {
  display: inline-block;
  padding: 1rem;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  border-top-color: #ae67f9;
  border-right-color: #f1966e;
  border-bottom-color: #f1966e;
  border-left-color: #ae67f9;
}

.headCell{
    color: #81AFDD !important;

}
.bodyCell{
    color: #fff !important;
   
}
.btn{
    max-width: 30rem;
    margin: 4rem auto;
    text-align: center;
}
.btn span{
    align-items: center;
    padding: 1rem;
    background-color: #FF4820;
    border-radius: 2rem;
    font-weight: bold;
}
.btn span:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .overveiw{
        font-size: 0.8rem;
    }
    .welcome{
        text-align: center;
    }
}